<%- include('partials/_header') %> %>

  <div class="form-control mt-3">

    <form action="/game" method="post" id="formGame" class="d-flex justify-content-center">
  
      <div class="text-center col-8">
        <label for="fecha" class="mt-2 mb-2">FECHA</label>
        <input name="fecha" id="fecha" type="date" class="" required>  
        <label for="categoria" class="mt-2 mb-2">CATEGORIA</label>
        <select name="categoria" class="mt-2 mb-2" required> 
          <option>CATEGORIA</option>
          <option>U 12</option>
          <option>U 14</option>
          <option>U 16</option>
        </select>
        <label for="torneo" class="mt-2 mb-2">TORNEO</label>
        <input name="torneo" placeholder="TORNEO" required>
        <label for="fase" class="mt-2 mb-2">FASE</label>
        <input name="fase" placeholder="FASE" required>
        
        <div class="mt-2 mb-2">
          <input name="equipoA" placeholder="EQUIPO A" required>
          <input name="coachA" placeholder="ENTRENADOR" required>
        </div>
    
        <div class="mt-2 mb-2">
          <input name="equipoB" placeholder="EQUIPO B" required>
          <input name="coachB" placeholder="ENTRENADOR" required>
        </div>
  
        <button class="mt-2 mb-2">GUARDAR</button>

      </div>

    </form>

  </div>

</body>

</html>     