<%- include('partials/_header') %> %>

  <a href="/">
    <button>INICIO</button>
  </a>

  <!-- MODULO DE NOMBRE DE EQUIPOS -->
  <div class="d-flex justify-content-around ">

    <div class="col-lg-5 p-3">
        <p class="border border-0 display-5"></p>
      </div>
      <div class="col-lg-5 bg-secondary text-white p-3">
        <p class="border border-0 display-5"></p>
      </div>
    </div>
  
  <table class="col-lg-5 p-3 ">
    <!-- MODULO DE ENCABEZADO DE PLANILLAS -->
    <tr class="bg-secondary text-white">
      <th>##</th>
      <th>NOMBRE</th>
      <th>DOCUMENTO</th>
      <th></th>

    </tr>

    <tr class="">
    <% data.forEach((player, index) => { %>
      <td><%=player.nro %></td>
      <td><%=player.nombre %></td>
      <td><%=player.documento %></td>
      <td><button id="borrar"> - </button></td>
    </tr>
    <% }) %>  
      
  </table>

  <!-- MODULO DE PLANILLAS -->
  <form action="/players" method="post" onsubmit="window.location.reload()" id="formPlayer" class="col-lg-5 p-3">
    <input name="nro" placeholder="##" class="col-lg-1"></input>
    <input name="nombre" placeholder="Nombre" class="col-lg-6"></input>
    <input name="documento" placeholder="Documento" class="col-lg-3"></input>
    <button>+</button>
  </form>

</body>

</html>     