<%- include('partials/_header') %> %>
<div class="d-flex">
  <div>
    <a href="/game">
      <button>DATOS DEL JUEGO</button>
    </a>
  </div>
  <div>
    <a href="/jugadores">
      <button>JUGADORES</button>
    </a>
  </div>
  <div>
    <a href="cuarto1">
      <button>CUARTO 1</button>
    </a>
  </div>
  <div>
    <button>CUARTO 2</button>
  </div>
  <div>
    <button>CUARTO 3</button>
  </div>
  <div>
    <button>CUARTO 4</button>
  </div>
</div>

</body>

</html>   