<%- include('partials/_header') %> %>

<div class="d-flex justify-content-center gap-3">

  <div class="d-block text-center">

    <div>
      <a href="/game">
        <button class="mt-3 mb-3 p-2 btn btn-info">CREAR JUEGO</button>
      </a>
    </div>
  
    <div>
      <a href="/players">
        <button class="mt-3 mb-3 p-2 btn btn-info">CARGAR JUEGO</button>
      </a>
    </div>
  
  </div>

</div>

</body>

</html>   