<%- include('partials/_header') %> %>
<div class="d-flex justify-content-center gap-3">
  <div>
    <a href="/game">
      <button class="p-2 btn btn-info">DATOS DEL JUEGO</button>
    </a>
  </div>
  <div>
    <a href="/players">
      <button class="p-2 btn btn-info">JUGADORES</button>
    </a>
  </div>
  <div>
    <a href="">
      <button class="p-2 btn btn-info">SCORE BOARD</button>
    </a>
  </div>

</div>

<div>
  


</div>

</body>

</html>   