<%- include('partials/_header') %> %>
<div class="d-flex justify-content-center">
  <div>
    <a href="">
      <button>DATOS DEL JUEGO</button>
    </a>
  </div>
  <div>
    <a href="/players">
      <button>JUGADORES</button>
    </a>
  </div>
  <div>
    <a href="">
      <button>CUARTO 1</button>
    </a>
  </div>
  <div>
    <button>CUARTO 2</button>
  </div>
  <div>
    <button>CUARTO 3</button>
  </div>
  <div>
    <a href="">
    <button>CUARTO 4</button>
    </a>
  </div>
</div>

<div>
  


</div>

</body>

</html>   