<%- include('partials/_header') %> %>

  <h1 class="text-center">SCORE</h1>

    <a href="/">
      <button>INICIO</button>
    </a>

  <button id="suma" class="p-4">+</button>
  <button id="resta" class="p-4">-</button>

  <h2 id="scoring" class="display-1"></h2>

  <script src="score.js"></script>

</body>

</html>   