<%- include('partials/_header') %> %>

    <a href="/">
      <button>INICIO</button>
    </a>

    <div class="d-flex text-center">
      <% infoGame.forEach((infoGame, index) => { %>
        <p class="display-3"><%= infoGame.equipoA.toUpperCase() %></p>
      <% }) %>  
    
    <!-- ---------- SELECTOR DE JUGADOR ---------------     -->
      <select name="" id="" class="display-6">
      <% for (i=0; i < playersA.length; ++i) { %>
        <option><%=playersA[i].nro %></option>
      <% } %>  
      </select>

    </div>

    <div class="d-flex">

      <div class="col-2">
        <button id="cero" class="p-4 btn btn-danger">0</button>
        <button id="dos" class="p-4 btn btn-danger">2</button>
        <button id="uno" class="p-4 btn btn-danger">1</button>
        <button id="tres" class="p-4 btn btn-danger">3</button>
      </div>

      <h2 id="scoring" class="display-1 col-3"></h2> 
    </div>
    
    




  <script src="score.js"></script> 

</body>

</html>   